@font-face {
    font-family: "handelsonthree";
    src: url("/assets/fonts/handelson-three-webfont.eot");
    src: url("/assets/fonts/handelson-three-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/handelson-three-webfont.woff2") format("woff2"), url("/assets/fonts/handelson-three-webfont.woff") format("woff"), url("/assets/fonts/handelson-three-webfont.ttf") format("truetype"), url("/assets/fonts/handelson-three-webfont.svg#handelsonthree") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "proximanova-softregular";
    src: url("/assets/fonts/proximasoft-regular-webfont.eot");
    src: url("/assets/fonts/proximasoft-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/proximasoft-regular-webfont.woff2") format("woff2"), url("/assets/fonts/proximasoft-regular-webfont.woff") format("woff"), url("/assets/fonts/proximasoft-regular-webfont.ttf") format("truetype"), url("/assets/fonts/proximasoft-regular-webfont.svg#proximanova-softregular") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "proximanova-softsemibold";
    src: url("/assets/fonts/proximasoft-semibold-webfont.eot");
    src: url("/assets/fonts/proximasoft-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/proximasoft-semibold-webfont.woff2") format("woff2"), url("/assets/fonts/proximasoft-semibold-webfont.woff") format("woff"), url("/assets/fonts/proximasoft-semibold-webfont.ttf") format("truetype"), url("/assets/fonts/proximasoft-semibold-webfont.svg#proximanova-softsemibold") format("svg");
    font-weight: normal;
    font-style: normal
}
