---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "fonts",
        "reset";

/* Main stuff */

body {
  text-align: center;
  font-family: Helvetica, "Helvetica Neue", sans-serif;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

/* Platform switcher */

.platform-link-wrapper {
  color: #aaa;
}

.platform-link--active {
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #ddd;
}


/* Win box itself */

.winbox-guides {
  width: 668px;
  height: 668px;
  background: url(/assets/images/winbox-guides.png) no-repeat;
  margin: 0 auto;
  padding-top: 76px;
}

.winbox-container {
  width: 516px;
  height: 448px;
  margin: 0 auto;
  // background-color: #tr;
  background-repeat: no-repeat;
  background-position: 18px 12px;
  // background-image: url(/assets/images/winbox-twitter.svg);
  position: relative;
}

.winbox-text {
  width: 100%;
  color: white;
  padding: 0 40px 0 90px;
  text-align: left;
  font-size: 32px;
  line-height: 1.3;
  font-weight: bold;
  transform: translateY(-50%);
  top: 50%;
  position: relative;
  background: url(/assets/images/winbox-quote.svg) no-repeat 32px 4px;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

/* */

/* Widget */

#atlwdg-trigger.atlwdg-TOP {
  top: auto;
  left: auto;
  bottom: 0;
  display: inline-block;
  position: relative;
  margin-top: 32px;
}
