---
layout: default
---

<br /><br />
<h1>Winbox</h1>
<br /><br />
<p class="platform-link-wrapper">
  <a class="platform-link platform-link--facebook platform-link--active" href="">Facebook</a>&nbsp;&nbsp;|&nbsp;
  <a class="platform-link platform-link--twitter" href="">Twitter</a>&nbsp;&nbsp;|&nbsp;
  <a class="platform-link platform-link--yelp" href="">Yelp</a>
</p>
<br /><br />

<div class="winbox-guides">
  <div class="winbox-container" id="widget">
    <div class="winbox-text" contenteditable="true" spellcheck="false">Click here and type whatever it is your heart desires!
    </div>
  </div>
</div>

<a href="" id="btnSave">Export Win Visual</a>
<a href="" id="img-out" download>hello</a>
<a href="" id="downloader" download>Click second to download</a>


<script type="text/javascript" src="https://msh-success.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/v7ee31/b/4/a44af77267a987a660377e5c46e0fb64/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=5e1f1083"></script>
